<div class="container">
    <div class="row" style="height:100px;">
        <div class="col-xs-3" style="height: 150px; text-align:center; font-size:50px; display: inline">
            <div style="cursor:pointer; font-size:50px; display:inline" class="material-icons" >stars</div>
            <div style="display: inline;">Loyality program</div>
        </div>
        <div class="col-xs-3" style="height: 150px; text-align:center">
            <span style="cursor:pointer" class="material-icons" >poll</span>
            Our score in Opineo
        </div>
        <div class="col-xs-3" style="height: 150px; text-align:center">
            <span style="cursor:pointer" class="material-icons">local_shipping</span>
            <span>Free shipping in 24h</span>
        </div>
        <div class="col-xs-3" style="height: 150px; text-align:center">
            <span style="cursor:pointer" class="material-icons" >celebration</span>
            Since 2010
        </div>
        
    </div>
</div>